:root {
  --bg-primary: #5173ed;
}

.box {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 20px;
  margin-bottom: 20px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #5173ed;
  --bs-btn-border-color: #5173ed;
}
